# We recommend you use this file to describe the structure of your real secrets.yml file.
#
# This file can then be committed to version control and provide hints to other developers
# about what keys they need.
#
# This file is not required by secretive - it's just here for your convenience.

test:
  EXAMPLE_SECRET:

development:
  EXAMPLE_SECRET:

production:
  EXAMPLE_SECRET:
